<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Toko Sederhana</a>

        <div class="d-flex gap-4">
          <a class="nav-link text-white" href="/products">Produk</a>
          <a class="nav-link text-white" href="/stock">Stok</a>
          <a class="nav-link text-white" href="/pembelian/add">Pembelian</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <%- body %>
      <!-- body yang dikirim dari home.ejs -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
