<%- include('../partials/header', { title: "Stock Produk" }) %>

<h4>Stock Produk</h4>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>Produk</th>
      <th>Stok</th>
    </tr>
  </thead>
  <tbody>
    <% stock.forEach(s => { %>
    <tr>
      <td><%= s.nama_produk %></td>
      <td><%= s.qty %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>
